	<div id="form-wrapper" class="black-background">
		<h1><font color="CCFFFF">Login</h1>
		<form method="POST" action="/login">
		
			<fieldset>
				<label class="white">Username:</label>
				<input class="username" type="text" name="username"></input>
			</fieldset>

			<fieldset>
				<label class="white">Password:</label>
				<input class="password" type="password" name="password"></input>
			</fieldset>

			<fieldset>
				<!--Submit Button!-->
				
				<input class="submit-button" type="submit" name="submit">
					
				</input>	
			</fieldset>
		
		</form>
	</div>
