	<div id="form-wrapper">
		<h1><font color="CCFFFF">~ * Registration * ~</h1>
		<form method="GET" action="/login">
		
			<fieldset>
				<label color="white">First Name</label>
				<input class="first-name"type="text"></input>
			</fieldset>

			<fieldset>
				<label color="white">Last Name</label>
				<input class="last-name"type="text"></input>
			</fieldset>

			<fieldset>
				<label color="white">Email</label>
				<input class="email" type="text"></input>
			</fieldset>

			<fieldset>
				<label color="white">Password:</label>
				<input class="password" type="password" name="password"></input>
			</fieldset>
			
			<fieldset>
				<!--Submit Button!-->
				
				<input class="submit-button" type="submit" name="submit">
					
				</input>	
			</fieldset>
		
		</form>
	</div>
