	<div id="form-wrapper">
		<h1><font color="CCFFFF">Login</h1>
		<form method="GET" action="/login">
		
			<fieldset>
				<label class="white">Username:</label>
				<input class="Username" type="text" name="Username"></input>
			</fieldset>

			<fieldset>
				<label class="white">Password:</label>
				<input class="Password" type="text" name="Password"></input>
			</fieldset>

			<fieldset>
				<!--Submit Button!-->
				
				<input class="submit-button" type="submit" name="submit">
					
				</input>	
			</fieldset>
		
		</form>
	</div>
