<!-- this is bakes -->
<div id="bakes-wrapper" class="black-background">
		<h1><font color="CCFFFF">Post Recipes</font></h1>
		<form method="POST" action="/bakes/new">
		
			<fieldset>
				<label class="white">Title:</label>
				<input class="title" type="text" name="title"></input>
			</fieldset>

			<fieldset>
				<label class="white">Rating:</label>
				<input class="rating" type="text" name="rating"></input>
			</fieldset>

			<fieldset>
				<label class="white">Ingredients:</label>
				<input class="ingredients" type="text" name="ingredients"></input>
			</fieldset>

			<fieldset>
				<label class="white">Reviews:</label>
				<textarea class="reviews" type="text" name="reviews"></textarea>
			</fieldset>


			<fieldset>
				<label class="white">Image URL:</label>
				<textarea class="imageurl" type="text" name="picture_caption"></textarea>
			</fieldset>

			<fieldset>
				<!--Submit Button!-->
				
				<input class="submit-button" type="submit" name="submit">
					
				</input>	
			</fieldset>
		
		</form>
	</div>



	